body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

.hero-section {
  height: 100vh;
  background-color: #e9f5ff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #252b42;
}

.navbar .nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar .nav-links li {
  transition: color 0.2s ease;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}

.navbar .nav-links li:hover {
  color: white;
  cursor: pointer;
}

.nav-logo {
  margin-left: 5%;
  color: #ffffff;
}

.logo-span {
  font-weight: lighter;
}

.nav-button {
  margin-right: 5%;
}

.hero-text {
  width: 50%;
  position: absolute;
  bottom: 20%;
  right: 25%;
  text-align: right;
}

.hero-welcome-text {
  margin: 0;
  padding: 0;
  font-size: 34px;
  margin-bottom: -10px;
  color: #000000;
}

.hero-big {
  font-size: 100px;
  margin: 0;
  padding: 0;
  color: #000000;
}

.hero-text-description {
  margin: 0;
  padding-bottom: 20px;
  color: #737373;
}

.default-button {
  text-decoration: none;
  color: white;
  background: #2091f9;
  padding: 12px 30px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: normal;
  font-weight: bold;
  transition: all 0.25s ease-in-out;
}

.default-button:hover {
  color: white;
  cursor: pointer;
  background: #186bb9;
}

.log-ind {
  margin-right: 25px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

.fcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 5.5rem;
  background: #f9f9f9;
}

.fcontainer > h1 {
  color: #141c2c;
}

.fcontainer > h1 > span {
  color: #8c94b8;
}
/* Register */
.opreth2 {
  font-size: 30px;
  text-align: center;
}
.form-form-register {
  width: 100%;
  background-color: #e9f5ff;
  height: 600px;
  padding-top: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 180px 180px / 0px 0px 15px 15px;
}
.form-flex {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15%;
  align-items: center;
  margin-left: -15%;
  box-shadow: 4px 10px 8px 0px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 4px 10px 8px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 4px 10px 8px 0px rgba(0, 0, 0, 0.29);
}
.selectGender {
  width: 96%;
  height: 46px;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
.alleredeTilmeldtP {
  display: flex;
}

.alleredeTilmeldt2 {
  color: #2091f9;
  text-decoration: underline;
  padding-left: 1%;
}

.whiteBGBox {
  background: white;
  width: 100%;
  height: 300px;
}

/* Login */
.login-form {
  width: 100%;
  background-color: #e9f5ff;
  height: 400px;
  padding-top: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 180px 180px / 0px 0px 15px 15px;
}

.login-form-form {
  background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10%;
    align-items: center;
  box-shadow: 4px 10px 8px 0px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 4px 10px 8px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 4px 10px 8px 0px rgba(0, 0, 0, 0.29);
}
.opret-bruger {
  display: flex;
  align-items: center;

}
.opret-bruger p {
  padding-right: 1%;
}

/* Footer */
footer {
  background-color: #252b42;
  padding: 2rem 3.5rem;
}

.logo {
  color: #d5d5d5;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 550;
  margin-bottom: 5px;
}

footer .logo > span {
  font-weight: lighter;
}

.social-media {
  text-align: center;
}

.social-media > a {
  text-decoration: none;
  color: #d5d5d5;
  font-size: 1.2rem;
  width: 2.3rem;
}

.social-media > a:hover {
  color: #8c94b8;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.8rem;
}

.footer-wrapper > h4 {
  color: #d5d5d5;
  line-height: 4;
}

.footer-wrapper > a {
  text-decoration: none;
  color: #8c94b8;
  line-height: 2;
}

.footer-wrapper > a:hover {
  color: #d5d5d5;
}

.footer-wrapper > p {
  color: #8c94b8;
  text-decoration: none;
  line-height: 2;
  margin: 0;
}

.footer-newsletter {
  display: flex;
  min-width: 300px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.footer-newsletter > input {
  background-color: #d5d5d5;
  border: 2px solid #d5d5d5;
  width: 65%;
  padding: 0.5rem;
  margin-right: 0.3rem;
  border-radius: 4px;
}

.footer-newsletter > button {
  color: #d5d5d5;
  width: 20%;
  background-color: transparent;
  border: 2px solid #2091f9;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease-in;
}

.footer-newsletter > button:hover {
  background-color: #2091f9;
}

.divider {
  border: 1px solid #8c94b8;
  margin: 0.5rem 0rem;
}

.webright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.webright-left {
  color: #d5d5d5;
  font-size: 0.8rem;
}

.webright-right > a {
  text-decoration: none;
  color: #d5d5d5;
  font-size: 0.8rem;
  padding-right: 10px;
}

/* Kontakt */
.contact {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  padding-right: 2rem;
}

.contact-heading h2 {
  color: #252b42;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
}

.contact-heading h2::before {
  position: absolute;
  top: 50%;
  right: -80px;
  content: "";
  width: 70px;
  height: 2px;
  background: #252b42;
}

.contact-heading h2::after {
  position: absolute;
  top: 50%;
  left: -80px;
  content: "";
  width: 70px;
  height: 2px;
  background: #252b42;
}

.contact-container {
  max-width: 1170px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact-column {
  flex: 0 0 auto;
  width: 50%;
  align-items: center;
}

.contact-widget {
  margin-bottom: 40px;
  padding-right: 10px;
}

.contact-widget-item {
  overflow: hidden;
  margin-bottom: 40px;
}

.icon {
  height: 40px;
  width: 40px;
  background: #252b42;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  margin-right: 30px;
  float: left;
}

.icon i {
  font-size: 14px;
  color: #fff;
  position: relative;
}

.contact-text {
  overflow: hidden;
}

.contact-text h5 {
  color: #111;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
  margin-top: 0;
}

.contact-text p {
  font-size: 14px;
  color: #111;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 15px 0;
}

.contact-form {
  text-align: center;
  margin-bottom: 40px;
}

form {
  display: block;
  margin-top: 0em;
}

form input {
  height: 46px;
  width: 96%;
  padding-left: 3%;
  font-size: 15px;
  color: #111;
  border: 1px solid #e1e1e1;
  margin-bottom: 20px;
  border-radius: 4px;
  transition: all, 0.3s;
}

form textarea {
  height: 110px;
  width: 96%;
  padding-left: 3%;
  padding-top: 12px;
  font-size: 15px;
  color: #111;
  border: 1px solid #e1e1e1;
  resize: none;
  margin-bottom: 9px;
  border-radius: 4px;
  transition: all, 0.3s;
}

form button {
  width: 100%;
  cursor: pointer;
  background-color: #2091f9;
  border-radius: 4px;
  padding: 2%;
  border: 1px transparent;
  color: white;
}

.site-btn {
  border: none;
  display: inline-block;
  background: #2091f9;
  color: white;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 12px 30px;
  outline: none;
  transition: all 0.25s ease-in-out;
}

.site-btn:hover {
  color: white;
  cursor: pointer;
  background: #186bb9;
}

.map-column {
  flex: 0 0 auto;
  width: 100%;
}

.contact-map iframe {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .contact-container {
    max-width: 960px;
  }
}

@media screen and (max-width: 990px) {
  .contact-container {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    max-width: 540px;
  }
  .contact-column {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .contact-heading {
    padding-right: 0;
  }
  .contact-heading h2 {
    font-size: 22px;
  }
  .contact-heading h2::before {
    right: -60px;
    width: 50px;
  }
  .contact-heading h2::after {
    left: -60px;
    width: 50px;
  }
}

/*-----Testimonial-------*/
.testimonials {
  height: 350px;
  background-color: #f9f9f9;
  color: #252b42;
  line-height: 1.5;
}

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #252b42, 0 0 0 0 #252b42;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__contents > img {
  width: 100%;
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
}
.slider__caption {
  font-weight: 500;
  margin: 1rem 0 1rem;
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin: 0 1rem 1rem 1rem;
  max-width: 700px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #252b42;
    box-shadow: 0 0 0 12px #252b42, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #252b42;
    box-shadow: 0 0 0 0 #252b42, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #252b42;
    box-shadow: 0 0 0 12px #252b42, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #252b42;
    box-shadow: 0 0 0 0 #252b42, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
